<section class="header">
    <div class="container">
        <div class="cube spin">
            <!-- exterior cube -->
            <div class="cube__side cube__side--front">
                <div class="cube__inner-border"></div>
            </div>

            <div class="cube__side cube__side--back">
                <div class="cube__inner-border"></div>
            </div>

            <div class="cube__side cube__side--top">
                <div class="cube__inner-border"></div>
            </div>

            <div class="cube__side cube__side--bottom">
                <div class="cube__inner-border"></div>
            </div>

            <div class="cube__side cube__side--left">
                <div class="cube__inner-border"></div>
            </div>

            <div class="cube__side cube__side--right">      
                <div class="cube__inner-border"></div>
            </div>

            <div class="inferior-cube">
                <!-- logo inferior cube -->
                <div class="inferior-cube__side inferior-cube__side--front"></div>

                <div class="inferior-cube__side inferior-cube__side--back"></div>

                <div class="inferior-cube__side inferior-cube__side--top"></div>

                <div class="inferior-cube__side inferior-cube__side--bottom"></div>

                <div class="inferior-cube__side inferior-cube__side--left"></div>

                <div class="inferior-cube__side inferior-cube__side--right"></div>

            </div>
        </div>
    </div>
</section>