@keyframes spin {
    0% { 
        @include rotate-start;
    }
    100%   { 
        @include rotate-null;
    }
}

@keyframes exterior-opacity {
    0% {
        background-color: rgba(green,0);
    }
    100% {
        background-color: rgba(green,1);
    }
}

@keyframes interior-opacity {
    0% {
        background-color: rgba(blue,0);
    }
    100% {
        background-color: rgba(blue,1);
    }
}