@keyframes spin-1 {

    100%   { 
        transform:  
            translateX(-60rem) 
            translateY(0px) 
            rotateX(51deg) 
            rotateY(386deg) 
            rotateZ(62deg);
    }
}
@keyframes spin-2 {
    100%   { 
        transform:  
            translateX(-70rem) 
            translateY(0px) 
            rotateX(51deg) 
            rotateY(386deg) 
            rotateZ(62deg);
    }
}
@keyframes spin-3 {
    100%   { 
        transform:  
            translateX(-80rem) 
            translateY(0px) 
            rotateX(51deg) 
            rotateY(386deg) 
            rotateZ(62deg);
    }
}
@keyframes horizontal-collapse-1 {
    100% {
        transform: translateX(-20rem)
    }
}
@keyframes horizontal-collapse-2 {
    100% {
        transform: translateX(-10rem)
    }
}
@keyframes horizontal-collapse-3 {
    100% {
        transform: translateX()
    }
}

@keyframes exterior-opacity {
    0% {
        // background-image: linear-gradient(to right, rgba($color-secondary, 0), rgba($color-primary, 0));
        background-color: rgba($color-primary,0);
    }
    100% {
        // background-image: linear-gradient(to right, rgba($color-secondary, 1), rgba($color-primary, 1));
        background-color: rgba($color-primary, .8);
    }
}

@keyframes interior-opacity {
    0% {
        // background: rgba($color-primary-dark,0);
    }
    100% {
        // background: rgba($color-primary-dark,1);
    }
}

@keyframes remove-movie-bg {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        display: none;
    }
}