@keyframes spin-1 {
    0% {
        transform: 
            translateX(160rem) 
            translateY(20rem) 
            rotateX(0deg) 
            rotateY(0deg) 
            rotateZ(0deg);
    }
    100% { 
        transform:  
            translateX(0) 
            translateY(0) 
            rotateX(51deg) 
            rotateY(386deg) 
            rotateZ(62deg);
    }
}
@keyframes spin-2 {
    0% {
        transform:  
            translateX(100rem) 
            translateY(100rem) 
            rotateX(0deg) 
            rotateY(0deg) 
            rotateZ(0deg);
    }
    100%   { 
        transform:  
            translateX(0) 
            translateY(0) 
            rotateX(51deg) 
            rotateY(386deg) 
            rotateZ(62deg);
    }
}
@keyframes spin-3 {
    0% {
        transform:  
            translateX(0rem) 
            translateY(100rem) 
            rotateX(0deg) 
            rotateY(0deg) 
            rotateZ(0deg);
    }
    100%   { 
        transform:  
            translateX(0rem) 
            translateY(0rem) 
            rotateX(51deg) 
            rotateY(386deg) 
            rotateZ(62deg);
    }
}
@keyframes horizontal-collapse-1 {
    100% {
        transform: translateX(-20rem)
    }
}
@keyframes horizontal-collapse-2 {
    100% {
        transform: translateX(-10rem)
    }
}
@keyframes horizontal-collapse-3 {
    100% {
        transform: translateX()
    }
}

@keyframes exterior-opacity {
    0% {
        // background-image: linear-gradient(to right, rgba($color-secondary, 0), rgba($color-primary, 0));
        background-color: rgba($color-primary,0);
    }
    100% {
        // background-image: linear-gradient(to right, rgba($color-secondary, 1), rgba($color-primary, 1));
        background-color: rgba($color-primary, 1);
    }
}

@keyframes interior-opacity {
    0% {
        // background: rgba($color-primary-dark,0);
    }
    100% {
        // background: rgba($color-primary-dark,1);
    }
}

@keyframes slide-db-behind {
    //-- slide behind state --//
    100% {
            top: 6.2rem;
            left: 22.4rem;
            z-index: -100;
    }
    // top: 6.2rem;
    // left: 22.4rem;
    // z-index: -100;
}

@keyframes remove-movie-bg {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        display: none;
    }
}