@keyframes spin {
    0% { 
        @include rotate-start;
    }
    100%   { 
        @include rotate-null;
    }
}

@keyframes exterior-opacity {
    0% {
        // background-image: linear-gradient(to right, rgba($color-secondary, 0), rgba($color-primary, 0));
        background-color: rgba($color-primary,0);
    }
    100% {
        // background-image: linear-gradient(to right, rgba($color-secondary, 1), rgba($color-primary, 1));
        background-color: rgba($color-primary,1);
    }
}

@keyframes interior-opacity {
    0% {
        // background: rgba($color-primary-dark,0);
    }
    100% {
        // background: rgba($color-primary-dark,1);
    }
}

@keyframes remove-movie-bg {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        display: none;
    }
}