
:root {

    // colors 

    
    --color-red-light: #FF6A4F;
    --color-red-dark: #D50000;
    
    --color-green-neon: #47fe47;
    --color-green-light: #7ed56f;
    --color-green-dark: #28b485;
    
    --color-grey-light-1: #f7f7f7;
    --color-grey-light: #eee;
    --color-grey-dark: #777;
    --color-grey-dark-3: #333;
    
    --color-white: #f2f2f2;
    --color-white-2: #ddd;
    
    --color-black: #000;
    
    //border-radius
    --default-border-radius: 3px;
}

* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; // 1 rem = 10 pixels
}

body {
    margin-bottom: 6rem;
    // background-color: orange;
}

.container {
    display: flex;
    background-color: var(--color-grey-light);
    width: 100%;
    
}

.app__container {
    position: relative;
    display: flex;
    flex-direction: column;
}

