
:root {

    // colors 

    --color-red-light: rgb(255, 156, 103);
    --color-red-dark: #D50000;
    
    --color-green-neon: #47fe47;
    --color-green-light: #7ed56f;
    --color-green-dark: #28b485;
    
    --color-grey-light-1: #f7f7f7;
    --color-grey-light: #ddd;
    --color-grey-dark: #777;
    --color-grey-dark-3: #333;
    
    --color-white: #eee;
    
    --color-black: #000;
    
    //border-radius
    --default-border-radius: 3px;
}

* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; // 1 rem = 10 pixels
}

body {
    // margin-bottom: 6rem;
    background-color: var(--color-white);
}

.container {
    display: flex;
    // background-color: var(--color-white);
    // background-color: var(--color-grey-dark-3);
    background-color: white;
    width: 100%;
    
}

.app__container {
    position: relative;
    flex: 1 1 100%;
    // display: flex;
    // align-content: stretch;
}

.header {
    // background-color: pink;
    display: block;
    
    &__title {
        // display: block;
        text-align: center;
    }
}


