$technologies: 
    "angular.png", 
    "aspNetCore.png", 
    "csharp.png",
    "Python.png", 
    "css3.png", 
    "html5.png",
    "es6.png",
    "django.png", 
    "mongo.png", 
    "react.png", 
    "Sass.png",
    "Flask.png",
    "Git.png",
    "javascript.png",
    "mongoose.png",
    "Rlogo.svg",
    "ubuntu.png",
    "vim.png",
    "firebase.png",
    "vscode.png",
    "MySQL.png",
    "bootstrap-stack.png",
    "scikit-learn.png",
    "Pg_logo.png",
    "jquery-logo.gif",
    "/Portfolio_images/ajax.png",
    "/Portfolio_images/expressjs.png",
    "/Portfolio_images/nodejs.png",
    "/Portfolio_images/github.png",
    "/Portfolio_images/php.png",
    "/Portfolio_images/MEAN.png",
    "/Portfolio_images/materialize.png",
    "/Portfolio_images/d3.png",
    "/Portfolio_images/sqlite.png",
    "/Portfolio_images/socket.png"
    ;

$total: length($technologies);

@mixin beehive-appear($wait) {
   animation: appear 1s #{$wait * .025}s 1 ease-out forwards; 
}

@for $i from 1 through $total {
    .img-#{$i} { 
        @include beehive-appear($i); 
        background-image: url('assets/#{nth($technologies, $i)}');
        background-position: center;
        background-size: contain;
    }
}


