$technologies: 
    "g_angular.png", 
    "g_aws.png",
    "g_bootstrap.png",
    "g_cs.png",
    "g_css.png", 
    "g_django_ai.png", 
    "g_dotnetcore_ai.png", 
    "g_express_ai.png",
    "g_firebase_ai.png",
    "g_flask_ai.png",
    "g_git_ai.png",
    "g_github_ai.png",
    "g_html_ai.png",
    "g_jquery.png",
    "g_js_ai.png",
    "g_mongo_ai.png", 
    "g_nodejs_ai.png",
    "g_postman_ai.png",
    "g_python_ai.png", 
    "g_react_ai.png", 
    "g_sass_ai.png",
    "g_scikit_ai.png",
    "g_sql_ai.png",
    "g_sqlite_ai.png",
    "g_r_ai.png",
    "g_ubuntu_ai.png",
    "g_vim_ai.png",
    "g_vscode_ai.png",

    ;

$total: length($technologies);

@mixin beehive-appear($wait) {
   animation: appear 1.25s #{$wait * .1}s 1 ease-out forwards; 
}

@for $i from 1 through $total {
    .img-#{$i} { 
        @include beehive-appear($i); 
        background-image: url('assets/#{nth($technologies, $i)}');
        // background-image: url('assets/g_css_ai.png');
        background-size: cover;
        background-position: center;
    }
}

@for $i from 1 through $total {
    .preload-#{$i} { 
        background-image: url('assets/#{nth($technologies, $i)}');
    }
}

