$technologies: 
    "g_angular.png", 
    "g_aws.png",
    "g_bootstrap.png",
    "g_cs.png",
    "g_css.png", 
    "g_django.png", 
    "g_dotnet.png", 
    "g_express.png",
    "g_firebase.png",
    "g_flask.png",
    "g_git.png",
    "g_github.png",
    "g_html.png",
    "g_jquery.png",
    "g_js.png",
    "g_mongo.png", 
    "g_nodejs.png",
    "g_postman.png",
    "g_python.png", 
    "g_react.png", 
    "g_sass.png",
    "g_scikit.png",
    "g_sql.png",
    "g_sqlite.png",
    "g_r.png",
    "g_ubuntu.png",
    "g_vim.png",
    "g_vscode.png",

    ;

$total: length($technologies);

@mixin beehive-appear($wait) {
   animation: appear 1.25s #{$wait * .1}s 1 ease-out forwards; 
}

@for $i from 1 through $total {
    .img-#{$i} { 
        @include beehive-appear($i); 
        background-image: url('assets/#{nth($technologies, $i)}');
        // background-image: url('assets/g_css_ai.png');
        background-size: cover;
        background-position: center;
    }
}

@for $i from 1 through $total {
    .preload-#{$i} { 
        background-image: url('assets/#{nth($technologies, $i)}');
    }
}

