@mixin rotate-start {
    transform:  
        translateX(500px) 
        translateY(500px) 
        rotateX(0) 
        rotateY(0) 
        rotateZ(0);
}
@mixin rotate-null {
    transform:  
        translateX(0px) 
        translateY(0px) 
        rotateX(51deg) 
        rotateY(386deg) 
        rotateZ(62deg);
}

@mixin rotate-one {
    transform:  
        translateX(-.2rem) 
        translateY(12.7rem) 
        rotateX(45deg) 
        rotateY(26deg) 
        rotateZ(62deg);
}

@mixin rotate-two {
    transform:  
        translateX(-200px) 
        translateY(-250px) 
        rotateX(47deg) 
        rotateY(26deg) 
        rotateZ(62deg);
}

@mixin rotate-max {
    transform: 
        rotateX(30deg) 
        rotateY(-300deg) 
        rotateZ(700deg);
}

@mixin cube-interior-bg-props($file) {
    background-image: url('../src/assets/#{$file}.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

@mixin cube-size($size) {
    height: $size;
    width: $size;
}
