$color-primary: #4A849F;
$color-primary-light: #659db7;
$color-primary-dark: #3f7188;

$color-secondary: #B4D6C6;

$color-red: #F2845C;
$color-red-light: rgb(255, 156, 103);
$color-red-dark: #D50000;

$color-green-neon: #47fe47;
$color-green-light: #7ed56f;
$color-green-dark: #28b485;

$color-grey-dark: #333;
$color-grey-light: #ddd;
$color-white: #f7f7f7;
$color-black: #555;

$R-gradient-1: radial-gradient(#1B3440, #4A849F);
