<section class="tech">

  <!-- <div class="bg-video">
    <video class="bg-video__content" muted autoplay loop>
      <source src='assets/MatrixText.mp4' type="video/mp4" />
      Your browser is not supported!
    </video>
  </div> -->

  <!-- <h2>Technologies in my toolbox:</h2> -->

  <ul class="grid clear">
    <li class="hex-container" *ngFor="let i of images">
      <div class="hexagon img-{{i}}">&nbsp;</div>
    </li>     
  </ul>
  <h2 class="tech__header">Technologies</h2>
  <div class="tech__overview">
	<div class="tech__details">
		<h2 class="tech__details--header">Languages</h2>
		<ul class="tech__details--list">
			<li class="tech__details--items">C#</li>
			<li class="tech__details--items">CSS3</li>
			<li class="tech__details--items">HTML5</li>
			<li class="tech__details--items">JavaScript</li>
			<li class="tech__details--items">Python</li>
			<li class="tech__details--items">R</li>
		</ul>
	</div>
	<div class="tech__details">
		<h2 class="tech__details--header">Frameworks</h2>
		<ul class="tech__details--list">
			<li class="tech__details--items">Angular</li>
			<li class="tech__details--items">ASP.NET Core</li>
			<li class="tech__details--items">Django</li>
			<li class="tech__details--items">Express.js</li>
			<li class="tech__details--items">Flask</li>
			<li class="tech__details--items">Node.js</li>
			<li class="tech__details--items">Vue.js</li>
		</ul>
	</div>
	<div class="tech__details">
		<h2 class="tech__details--header">Databases</h2>
		<ul class="tech__details--list">
			<li class="tech__details--items">Firebase</li>
			<li class="tech__details--items">MongoDB</li>
			<li class="tech__details--items">MySQL</li>
			<li class="tech__details--items">SQLite</li>
		</ul>
	</div>
	<div class="tech__details">
		<h2 class="tech__details--header">Other Tools</h2>
		<ul class="tech__details--list">
			<li class="tech__details--items">AWS</li>
			<li class="tech__details--items">Bash Scripts</li>
			<li class="tech__details--items">Crawlers & Bots</li>
			<li class="tech__details--items">GitHub</li>
			<li class="tech__details--items">Linux</li>
			<li class="tech__details--items">Postman</li>
			<li class="tech__details--items">SASS</li>
			<li class="tech__details--items">Vim</li>
		</ul>
	</div>
  </div>

</section>
