<section class="portfolio">
  <div class="powder">
    <div class="powder__description">
      <h2 class="powder__description--header">
        Powder
      </h2>
      <p class="powder__description--text">
        Powder is a landing page for a mock heli-skiing company. Page is fully responsive and utilizes a number of CSS3 features and animations to provide a smooth user experience no matter what device they are browsing with.
      </p>
    </div>
    <div class="powder__desktop">
    <img 
      src="assets/powder_desktop.png" 
      alt="powder mobile web page"
      class="powder__desktop--img">
    </div>
    <div class="powder__tablet">
    <img 
      src="assets/powder_tablet.png" 
      alt="powder mobile web page"
      class="powder__tablet--img">
    </div>
    <div class="powder__mobile">
      <img 
        src="assets/powder_mobile.png" 
        alt="powder mobile web page"
        class="powder__mobile--img">
    </div>
      <p class="powder__tech">
        HTML5, CSS3, Angular, JavaScript, SASS, AWS
      </p>
  </div>

  <div class="divider"></div>

  <div class="powder">
    <div class="powder__description">
      <h2 class="powder__description--header">
        Powder
      </h2>
      <p class="powder__description--text">
        Powder is a landing page for a mock heli-skiing company. Page is fully responsive and utilizes a number of CSS3 features and animations to provide a smooth user experience no matter what device they are browsing with.
      </p>
    </div>
    <div class="powder__desktop">
    <img 
      src="assets/powder_desktop.png" 
      alt="powder mobile web page"
      class="powder__desktop--img">
    </div>
    <div class="powder__tablet">
    <img 
      src="assets/powder_tablet.png" 
      alt="powder mobile web page"
      class="powder__tablet--img">
    </div>
    <div class="powder__mobile">
      <img 
        src="assets/powder_mobile.png" 
        alt="powder mobile web page"
        class="powder__mobile--img">
    </div>
      <p class="powder__tech">
        HTML5, CSS3, Angular, JavaScript, SASS, AWS
      </p>
  </div>

  <div class="divider"></div>

  <div class="powder">
    <div class="powder__description">
      <h2 class="powder__description--header">
        Powder
      </h2>
      <p class="powder__description--text">
        Powder is a landing page for a mock heli-skiing company. Page is fully responsive and utilizes a number of CSS3 features and animations to provide a smooth user experience no matter what device they are browsing with.
      </p>
    </div>
    <div class="powder__desktop">
    <img 
      src="assets/powder_desktop.png" 
      alt="powder mobile web page"
      class="powder__desktop--img">
    </div>
    <div class="powder__tablet">
    <img 
      src="assets/powder_tablet.png" 
      alt="powder mobile web page"
      class="powder__tablet--img">
    </div>
    <div class="powder__mobile">
      <img 
        src="assets/powder_mobile.png" 
        alt="powder mobile web page"
        class="powder__mobile--img">
    </div>
      <p class="powder__tech">
        HTML5, CSS3, Angular, JavaScript, SASS, AWS
      </p>
  </div>
</section>