<div class="container">
    <nav class="navigation__sidebar">
        <div class="navigation">
            <ul class="navigation__list">
                <li class="navigation__item">Home</li>
                <li class="navigation__item">About</li>
                <li class="navigation__item">Portfolio</li>
                <li class="navigation__item">Contact</li>
            </ul>
            <button class="btn" [routerLink]="['terminal']">Terminal</button>
        </div>
    </nav>
    <div class="app__container">
        <header class="header">
            <div class="header__title">
                <h1>prescott breeden</h1>
            </div>
        </header>    
        <router-outlet></router-outlet>
    </div>
</div>