<div class="container">
    <nav class="navigation__sidebar">
        <div class="navigation">
            <ul class="navigation__list">
                <li class="navigation__item">Home</li>
                <li class="navigation__item">About</li>
                <li class="navigation__item">Portfolio</li>
                <li class="navigation__item">Contact</li>
            </ul>
            <button class="btn" [routerLink]="['terminal']">Terminal</button>
        </div>
    </nav>
    <div class="app__container">
        <header class="header">
            <div class="header__title">
                <h1>prescott breeden</h1>
            </div>
            <div class="cube__anchor">
                <!-- exterior cube -->
                <div class="cube cube-1 spin">
                    <div class="cube__side cube__side--front">
                        <div class="cube__inner-border"></div>
                    </div>
                    <div class="cube__side cube__side--back">
                        <div class="cube__inner-border"></div>
                    </div>
                    <div class="cube__side cube__side--top">
                        <div class="cube__inner-border"></div>
                    </div>
                    <div class="cube__side cube__side--bottom">
                        <div class="cube__inner-border"></div>
                    </div>
                    <div class="cube__side cube__side--left">
                        <div class="cube__inner-border"></div>
                    </div>
                    <div class="cube__side cube__side--right">      
                        <div class="cube__inner-border"></div>
                    </div>
                    <!-- logo middle cube -->
                    <div class="middle-cube">
                        <div class="middle-cube__side middle-cube__side--front"></div>
                        <div class="middle-cube__side middle-cube__side--back"></div>
                        <div class="middle-cube__side middle-cube__side--top"></div>
                        <div class="middle-cube__side middle-cube__side--bottom"></div>
                        <div class="middle-cube__side middle-cube__side--left"></div>
                        <div class="middle-cube__side middle-cube__side--right"></div>
                    </div>
                    <!-- logo interior cube frameworks-->
                    <div class="inferior-cube">
                        <div class="inferior-cube__side inferior-cube__side--front">
                            <img src="assets/Flask.png" alt="flask logo">
                        </div>
                        <div class="inferior-cube__side inferior-cube__side--back">
                            <img src="assets/angular.png" alt="angular logo">
                        </div>
                        <div class="inferior-cube__side inferior-cube__side--top">
                            <img src="assets/firebase.png" alt="firebase logo">
                        </div>
                        <div class="inferior-cube__side inferior-cube__side--bottom">
                            <img src="assets/django.png" alt="django logo">
                        </div>
                        <div class="inferior-cube__side inferior-cube__side--left">
                        </div>
                        <div class="inferior-cube__side inferior-cube__side--right">
                            <img src="assets/aspNetCore.png" alt="aspNetCore logo">
                            
                        </div>
                    </div>
                </div>
            </div>
                <!-- cube 2 -->
            <div class="cube__anchor">
                <div class="cube cube-2 spin">
                    <!-- exterior cube -->
                    <div class="cube__side cube__side--front">
                        <div class="cube__inner-border"></div>
                    </div>
                    <div class="cube__side cube__side--back">
                        <div class="cube__inner-border"></div>
                    </div>
                    <div class="cube__side cube__side--top">
                        <div class="cube__inner-border"></div>
                    </div>
                    <div class="cube__side cube__side--bottom">
                        <div class="cube__inner-border"></div>
                    </div>
                    <div class="cube__side cube__side--left">
                        <div class="cube__inner-border"></div>
                    </div>
                    <div class="cube__side cube__side--right">      
                        <div class="cube__inner-border"></div>
                    </div>
                    <div class="middle-cube">
                        <!-- logo middle cube -->
                        <div class="middle-cube__side middle-cube__side--front"></div>
                        <div class="middle-cube__side middle-cube__side--back"></div>
                        <div class="middle-cube__side middle-cube__side--top"></div>
                        <div class="middle-cube__side middle-cube__side--bottom"></div>
                        <div class="middle-cube__side middle-cube__side--left"></div>
                        <div class="middle-cube__side middle-cube__side--right"></div>
                    </div>
                    <!-- logo interior cube databases -->
                    <div class="inferior-cube">
                        <div class="inferior-cube__side inferior-cube__side--front">
                            <img src="assets/mongoose.png" alt="mongoose logo">
                        </div>
                        <div class="inferior-cube__side inferior-cube__side--back">
                            <img src="assets/mysql.jpg" alt="mysql logo">
                        </div>
                        <div class="inferior-cube__side inferior-cube__side--top">
                            <img src="assets/firebase.png" alt="firebase logo">
                            
                        </div>
                        <div class="inferior-cube__side inferior-cube__side--bottom">
                            <img src="assets/Sass.png" alt="Sass logo">
                        </div>
                        <div class="inferior-cube__side inferior-cube__side--left">
                            <img src="assets/jquery-logo.gif" alt="jQuery logo">
                        </div>
                        <div class="inferior-cube__side inferior-cube__side--right">
                            <img src="assets/mongo.png" alt="mongo logo">
                        </div>
                    </div>
                </div>
            </div>
            <!-- cube 3 -->
            <div class="cube__anchor">
                <div class="cube cube-3 spin">
                    <!-- exterior cube -->
                    <div class="cube__side cube__side--front">
                        <div class="cube__inner-border"></div>
                    </div>
                    <div class="cube__side cube__side--back">
                        <div class="cube__inner-border"></div>
                    </div>
                    <div class="cube__side cube__side--top">
                        <div class="cube__inner-border"></div>
                    </div>
                    <div class="cube__side cube__side--bottom">
                        <div class="cube__inner-border"></div>
                    </div>
                    <div class="cube__side cube__side--left">
                        <div class="cube__inner-border"></div>
                    </div>
                    <div class="cube__side cube__side--right">      
                        <div class="cube__inner-border"></div>
                    </div>
                    <!-- logo middle cube -->
                    <div class="middle-cube">
                        <div class="middle-cube__side middle-cube__side--front"></div>
                        <div class="middle-cube__side middle-cube__side--back"></div>
                        <div class="middle-cube__side middle-cube__side--top"></div>
                        <div class="middle-cube__side middle-cube__side--bottom"></div>
                        <div class="middle-cube__side middle-cube__side--left"></div>
                        <div class="middle-cube__side middle-cube__side--right"></div>
                    </div>  
                    <!-- logo inferior cube: languages -->
                    <div class="inferior-cube">
                        <div class="inferior-cube__side inferior-cube__side--front">
                            <img src="assets/css3.png" alt="CSS CSS3">
                        </div>
                        <div class="inferior-cube__side inferior-cube__side--back">
                            <img src="assets/Python.png" alt="Python">
                        </div>
                        <div class="inferior-cube__side inferior-cube__side--top">
                            <img src="assets/R-logo.png" alt="R logo">
                        </div>
                        <div class="inferior-cube__side inferior-cube__side--bottom">
                            <img src="assets/es6.png" alt="ES6 ECMAscript">
                        </div>
                        <div class="inferior-cube__side inferior-cube__side--left">
                            <img src="assets/html5.png" alt="HTML HTML5">
                        </div>
                        <div class="inferior-cube__side inferior-cube__side--right">
                            <img src="assets/csharp.png" alt="c#">
                        </div>
                    </div>
                </div>
            </div>
        </header>    
        <router-outlet></router-outlet>
    </div>
</div>