<section class="terminal">
  <div class="terminal__window">
    <div class="terminal__text">
       <p><span class="u-color-purple">ℹ</span> <span class="u-color-grey">｢wdm｣</span>: Compiling...</p>
       <p><span class="u-color-purple">ℹ</span> <span class="u-color-grey">｢wdm｣</span>: Compiled successfully.</p>
       
    </div>
    <div class="terminal__input">
      <p class="terminal__input--prefix">Website:Terminal$</p>
      <input type="text" id="terminal__input" class="terminal__input--field" autofocus>
    </div>
  </div>
</section>