%innerCubeStyle {
  position: absolute;
  background-color: black;
  height: 70%;
  width: 70%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

%cubeClipPath {
  clip-path: polygon(0% 0%, 0% 100%, 17% 100%, 17% 17%, 83% 17%, 83% 83%, 17% 83%, 17% 100%, 100% 100%, 100% 0%);
}

.spin {
  animation: spin 4s 1 linear forwards;
}

.collapse-1 {
      //-- collapsed state --//
    top: 10.1rem !important;
    left: 12.4rem !important;
}
.collapse-2 {
      //-- collapsed state --//
    top: 10.1rem !important;
    left: 12.4rem !important;
}
.collapse-3 {
      //-- collapsed state --//
    top: 10.1rem !important;
    left: 12.4rem !important;
}


/* cube exterior */
.cube{
  position: relative;
  width: 4rem;
  transform-style: preserve-3d;
  transition: all .5s ease-out;
  z-index: 10;
  @include rotate-null;
  display: block;


  &__anchor{  
    display: block;
    width: 100%;
    height: 20rem;
    perspective: 1000rem;
    perspective-origin: 50% 50%;
   

  }

  // frameworks
  &-1 {
    transform: 
      rotateX(51deg) 
      rotateY(26deg) 
      rotateZ(62deg);
    
    //-- initial state --//
    top: 10.3rem;
    left: 27rem;
    
    //-- pageload animation --//
    // animation: spin-1 4s 1 ease-out forwards;
    // animation: appear 2s 1 ease-out forwards;
    
  }

  // db cube
  &-2 {
    transform: 
      rotateX(51deg) 
      rotateY(386deg) 
      rotateZ(62deg);
    
    //-- initial state --//
    top: 3.9rem;
    left: 16rem;
    
    //-- pageload animation --//
    // animation: spin-2 4s 1 ease-out forwards;
    // animation: appear 2s 1 ease-out forwards;
    
  }

  // languages
  &-3 {
    transform: 
      rotateX(51deg) 
      rotateY(386deg) 
      rotateZ(62deg);

    //-- initial state --//
    top: 16.6rem;
    left: 15.9rem;
    
    //-- pageload animation --//
    // animation: spin-3 4s 1 ease-out forwards;
    // animation: appear 2s 1 ease-out forwards;
    
  }

  &__inner-border {
    @extend %innerCubeStyle;
  }

  &__side {
    position:absolute;
    @include cube-size(9rem);
    border: .1rem solid black;
    box-shadow:inset 0 0 .6rem rgba(0,0,0,0.2);
    @extend %cubeClipPath;
    animation: exterior-opacity 1s 1 2.25s linear forwards;

    &--front {
      transform: translateZ(4.5rem); 
    }
    &--back {
      transform: translateZ(-4.5rem) rotateY(180deg);
    }
    &--top{
      transform:rotateX(-90deg) translateY(-4.5rem);
      transform-origin: top center;
    }
    &--bottom {
      transform:rotateX(90deg) translateY(4.5rem);
      transform-origin: bottom center;
    }
    &--left {
      transform:rotateY(270deg) translateX(-4.5rem);
      transform-origin: center left;
    }
    &--right {
      transform:rotateY(-270deg) translateX(4.5rem);
      transform-origin: top right;
    }
  }
}

/* cube middle */
.middle-cube {
  
  &__side {
    position:absolute;
    top:1rem;
    left:1rem;
    @include cube-size(6rem);
    // z-index: 2;
    box-shadow:inset 0 0 .3rem rgba(0,0,0,0.2);
    transition: all 1s linear;
    animation: interior-opacity 1s 1 4s linear forwards;

    &--front{
      transform: translateZ(-3rem) rotateY(0deg);
    }
    &--back{
      transform: translateZ(3rem);
    }
    &--right{
      transform:rotateY(-90deg) translateX(3rem) rotateZ(-90deg) rotateX(180deg);
      transform-origin: top right;    
    }
    &--left{
      transform:rotateY(270deg) translateX(-3rem);
      transform-origin: center left;
    }
    &--top{
      transform:rotateX(-90deg) translateY(-3rem);
      transform-origin: top center;
    }
    &--bottom{
      // z-index: 1;
      transform:rotateX(90deg) translateY(-3rem) rotateZ(180deg);
      transform-origin: bottom center;
    }
  }
}

/* cube inferior */
.inferior-cube {
  
  &__side {
    position:absolute;
    top:1rem;
    left:1rem;
    @include cube-size(6rem);
    box-shadow:inset 0 0 .3rem rgba(0,0,0,0.2);
    transition: all 1s linear;
    // animation: interior-opacity 1s 1 4s linear forwards;
    z-index: -2;

    &--front{
      transform: translateZ(-3rem) rotateY(0deg);

      img {
        @include cube-size(100%);
      }
    }
    &--back{
      transform: translateZ(3rem) rotate(-90deg);

      img {
        @include cube-size(100%);
      }

    }
    &--right{
      transform:rotateY(-90deg) translateX(3rem) rotateZ(-90deg) rotateX(180deg);
      transform-origin: top right;    

      img {
        @include cube-size(100%);
      }

    }
    &--left{
      transform:rotateY(270deg) translateX(-3rem);
      transform-origin: center left;

      img {
        @include cube-size(100%);
      }

    }
    &--top{
      transform:rotateX(-90deg) translateY(-3rem);
      transform-origin: top center;

      img {
        @include cube-size(100%);
      }

    }
    &--bottom{
      // z-index: -1;
      transform:rotateX(90deg) translateY(-3rem) rotateZ(180deg) rotateY(180deg);
      transform-origin: bottom center;

      img {
        @include cube-size(100%);
      }

    }
  }
}

