%innerCubeStyle {
  position: absolute;
  background-color: black;
  height: 70%;
  width: 70%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

%cubeClipPath {
  clip-path: polygon(0% 0%, 0% 100%, 20% 100%, 20% 20%, 80% 20%, 80% 80%, 20% 80%, 20% 100%, 100% 100%, 100% 0%);
}

.spin {
  animation: spin 4s 1 linear forwards;
}

.spin-1 {
  animation: spin 4s 1 linear forwards;
}

.spint-2 {
  animation: spin 4s 1 linear forwards;
}

/* cube exterior */
.cube{
  position: relative;
  width: 4rem;
  transform-style: preserve-3d;
  transition: all 1s linear;
  z-index: 10;
  @include rotate-null;
  display: block;


  &__anchor{  
    position: absolute;
    top:10rem;
    left:20rem;
    perspective: 10000;
    perspective-origin: 50% 10rem;
  }

  &-1 {
    top: 10rem;
    left: 10rem;
  }
  
  &-2 {
    top: 12.7rem;
    left: -.2rem;
  
  }
  &-1 {
    top: 6.5rem;
    left: 10.9rem;
  }

  &__inner-border {
    @extend %innerCubeStyle;
  }

  &__side {
    position:absolute;
    @include cube-size(9rem);
    // animation: exterior-opacity 1s 1 4s linear forwards;
    border: .2rem solid black;
    box-shadow:inset 0 0 .6rem rgba(0,0,0,0.2);
    @extend %cubeClipPath;

    &--front {
      transform: translateZ(4.5rem); 
    }
    &--back {
      transform: translateZ(-4.5rem) rotateY(180deg);
    }
    &--top{
      transform:rotateX(-90deg) translateY(-4.5rem);
      transform-origin: top center;
    }
    &--bottom {
      transform:rotateX(90deg) translateY(4.5rem);
      transform-origin: bottom center;
    }
    &--left {
      transform:rotateY(270deg) translateX(-4.5rem);
      transform-origin: center left;
    }
    &--right {
      transform:rotateY(-270deg) translateX(4.5rem);
      transform-origin: top right;
    }
  }
}

/* cube middle */
.middle-cube {
  
  &__side {
    position:absolute;
    top:1rem;
    left:1rem;
    @include cube-size(6rem);
    z-index: 2;
    box-shadow:inset 0 0 .3rem rgba(0,0,0,0.2);
    transition: all 1s linear;
    // animation: interior-opacity 1s 1 4s linear forwards;

    &--front{
      transform: translateZ(-3rem) rotateY(0deg);
    }
    &--back{
      transform: translateZ(3rem);
    }
    &--right{
      transform:rotateY(-90deg) translateX(3rem) rotateZ(-90deg) rotateX(180deg);
      transform-origin: top right;    
    }
    &--left{
      transform:rotateY(270deg) translateX(-3rem);
      transform-origin: center left;
    }
    &--top{
      transform:rotateX(-90deg) translateY(-3rem);
      transform-origin: top center;
    }
    &--bottom{
      z-index: 1;
      transform:rotateX(90deg) translateY(-3rem) rotateZ(180deg);
      transform-origin: bottom center;
    }
  }
}

/* cube inferior */
.inferior-cube {
  
  &__side {
    position:absolute;
    top:1rem;
    left:1rem;
    @include cube-size(6rem);
    box-shadow:inset 0 0 .3rem rgba(0,0,0,0.2);
    transition: all 1s linear;
    // animation: interior-opacity 1s 1 4s linear forwards;
    z-index: -2;

    &--front{
      transform: translateZ(-3rem) rotateY(0deg);
      @include cube-interior-bg-props(mongo);
    }
    &--back{
      transform: translateZ(3rem);
      @include cube-interior-bg-props(html5);
    }
    &--right{
      transform:rotateY(-90deg) translateX(3rem) rotateZ(-90deg) rotateX(180deg);
      transform-origin: top right;    
      @include cube-interior-bg-props(css3);
    }
    &--left{
      transform:rotateY(270deg) translateX(-3rem);
      transform-origin: center left;
      @include cube-interior-bg-props(python);
    }
    &--top{
      transform:rotateX(-90deg) translateY(-3rem);
      transform-origin: top center;
      @include cube-interior-bg-props(csharp);
    }
    &--bottom{
      z-index: -1;
      transform:rotateX(90deg) translateY(-3rem) rotateZ(180deg);
      transform-origin: bottom center;
      @include cube-interior-bg-props(angular);
    }
  }
}

