.form {
    padding: 3rem;

    &__group {
        &:not(:last-child) {
            margin-bottom: 2rem;
        }
    }

    &__input {
        font-size: inherit;
        font-family: inherit;
        // padding: 1rem 1.5rem;
        // border-radius: 4px;
        background-color: black;
        border: none;
        width: 100%;
        
        &:focus {
            outline: none;
            background-color: black;
        }

    }

    &__label {

    }    
}

input,
input[type="text"] {
    font-size: inherit;
    font-family: inherit;
    color: var(--color-green-neon);
    caret-color: var(--color-green-neon);
    // padding: 1rem 1.5rem;
    // border-radius: 4px;
    background-color: black;
    border: none;
    width: 100%;
    display: inline-block;

    &:focus {
        outline: none;
        background-color: black;
    }
}



