.portfolio {
    min-height: 50vh;
    background-color: $color-white;
}

.divider {
    margin: 3rem auto 0 auto;
    width: 40%;
    height: 1rem;
    border-bottom: 2px solid rgba($color-black-light, .6);
}


.project {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    min-height: 50vh;
    padding: 6rem 3rem 3rem 3rem;
    background-color: $color-white;

    &__description {
        flex: 2 2 20%;
        text-align: center;
        // border: 1px dashed orangered;

        &--header {
            padding: 3rem;
        }

        &--text {
            // margin-top: 4rem;
        }
    }

    &__tech {
        flex: 1 1 10%;
        // border: 1px dashed orangered;

        &--list {
            // margin-top: 4rem;
            padding: 3rem;
            list-style: none;
        }

        &--item {
            text-align: left;
        }
    }

    &__desktop {
        flex: 2 2 40%;
        // border: 1px dashed orangered;
        text-align: center;

        &--img {
            height: 40rem;
            width: auto;
        }
    }

}