.tech {
    width: 100vw;
    position: relative;
}

.grid {
    position: relative;
    width: 90%;
    margin: 0 auto;
}

.hex-container {
    list-style-type: none;
    position: relative;
    float: left;
    width: 12.85714285714286%;
    padding: 0 0 14.87860145166612% 0;
    transform: rotate(-60deg) skewY(30deg);
    background: #fd005f;
    overflow: hidden;
    visibility: hidden;
    
    p {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: (-50%, -50%);
    }
}

.hexagon {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    // background-color: var(--color-white);
    background-color: $color-primary;
    transform: skewY(-30deg) rotate(60deg);	
    overflow: hidden;
    opacity: 0;
    transition: all .2s;

    &:hover {
    background-color: $color-primary;
    }
}

.grid .hex-container * {
	visibility: visible;
	// border: 1px solid blue;
	// background-image: url('https://www.google.com/images/branding/googlelogo/1x/googlelogo_color_272x92dp.png');
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
}

.grid .hex-container:nth-child(1n+1) {
	margin: 0.5%;
}

.grid .hex-container:nth-child(14n+8), 
.grid .hex-container:nth-child(14n+9), 
.grid .hex-container:nth-child(14n+10), 
.grid .hex-container:nth-child(14n+11), 
.grid .hex-container:nth-child(14n+12), 
.grid .hex-container:nth-child(14n+13), 
.grid .hex-container:nth-child(14n+14) {
    margin-top: -2.9285714285%;
    margin-bottom: -2.9285714285%;
    transform: translateX(50%) rotate(-60deg) skewY(30deg);
}

.grid .hex-container:nth-child(14n+8) { 
    // margin-left: 7.5%;
    margin-left: 1%;
}