.tech {
    width: 100vw;
    position: relative;
    background-image: linear-gradient(to top right, 
						$color-white, 
						$color-grey-light);
	
	&__header {
		margin-top: 3rem;
		text-align: center;
        background-color: #fff;
	}

	&__overview {
		padding-top: 2rem;
		padding-bottom: 5rem;
		display: flex;
		justify-content: space-around; 
		background-color: #fff;
	}

	&__details {
		background-image: linear-gradient(to top right, 
						$color-green-dark,
						$color-green-light);
		color: $color-grey-light;
		text-align: center;
		flex-basis: 20%;
		padding: 1rem 2rem;
		box-shadow: 0 1rem 2rem rgba(black, .5);

		&--header {
			border-bottom: 1px solid black;

		}
	
		&--list {
			margin-top: 1rem;
			list-style: none;
		}
	}



}

.grid {
    position: relative;
    width: 90%;
    margin: 0 auto;
    padding: 2rem 2rem 4rem 2rem;
    
}

.hex-container {
    list-style-type: none;
    position: relative;
    float: left;
    width: 12.85714285714286%;
    padding: 0 0 14.87860145166612% 0;
    transform: rotate(-60deg) skewY(30deg);
    overflow: hidden;
    visibility: hidden;
    
    p {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: (-50%, -50%);
    }
}

.hexagon {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $color-primary;
    transform: skewY(-30deg) rotate(60deg);	
    overflow: hidden;
    opacity: 0;
    transition: all .2s;
    color: $color-white;
    box-shadow: 0rem 1rem 1rem rgba(black, .2);

    &:hover {
    background-color: $color-primary;
    }
}

.grid .hex-container * {
	visibility: visible;
	// border: 1px solid blue;
	// background-image: url('https://www.google.com/images/branding/googlelogo/1x/googlelogo_color_272x92dp.png');
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
}

.grid .hex-container:nth-child(1n+1) {
	margin: 0.5%;
}

.grid .hex-container:nth-child(14n+8), 
.grid .hex-container:nth-child(14n+9), 
.grid .hex-container:nth-child(14n+10), 
.grid .hex-container:nth-child(14n+11), 
.grid .hex-container:nth-child(14n+12), 
.grid .hex-container:nth-child(14n+13), 
.grid .hex-container:nth-child(14n+14) {
    margin-top: -2.9285714285%;
    margin-bottom: -2.9285714285%;
    transform: translateX(50%) rotate(-60deg) skewY(30deg);
}

.grid .hex-container:nth-child(14n+8) { 
    // margin-left: 7.5%;
    margin-left: 1%;
}
