.header {
    // min-height: 45rem;
    height: 100vh;
    background-image: linear-gradient(to right, 
                        rgba($color-black, .6), 
                        rgba($color-black, .6)), 
                        url("assets/keyboard.jpg");
    background-position: center bottom;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;

    &__title {
        width: 100%;
        // color: white;
        color: $color-white;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    &__primary-text {
        font-family: 'Vollkorn', serif;
        font-size: 6rem;
        letter-spacing: .3rem;
        text-transform: uppercase;
    }

    &__secondary-text {
        font-size: 2rem;
        letter-spacing: 1px;
        text-transform: uppercase;

    }

    &__tertiary-text {
        width: 100%;
        position: absolute;
        text-align: center;
        font-style: italic;
        letter-spacing: 1px;
        bottom: 1rem;
        left: 50%;
        transform: translateX(-50%);
        color: $color-red;
    }

    &__blink {
        animation: blink 1.5s step-end infinite;
    }
}