.navigation {
    background-color: var(--color-grey-dark-3);
    min-height: 100vh;
    padding: 2rem;
    color: var(--color-grey-light-1);

    &__sidebar {
        display: inline-block;
    }

    &__list {
        list-style: none;
    }

    &__item {

    }
}





