:root {
  --color-red-light: #FF6A4F;
  --color-red-dark: #D50000;
  --color-green-neon: #47fe47;
  --color-green-light: #7ed56f;
  --color-green-dark: #28b485;
  --color-grey-light-1: #f7f7f7;
  --color-grey-light: #eee;
  --color-grey-dark: #777;
  --color-grey-dark-3: #333;
  --color-white: #f2f2f2;
  --color-white-2: #ddd;
  --color-black: #000;
  --default-border-radius: 3px; }

* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  margin: 3rem;
  margin-bottom: 6rem; }

.container {
  padding: 3rem;
  min-height: 100vh; }

body {
  font-weight: 400;
  line-height: 1.6;
  font-family: 'Courier New', Courier, monospace;
  font-size: 1.7rem; }

@keyframes spin {
  0% {
    transform: translateX(500px) translateY(500px) rotateX(0) rotateY(0) rotateZ(0); }
  100% {
    transform: translateX(0px) translateY(0px) rotateX(51deg) rotateY(26deg) rotateZ(62deg); } }

@keyframes exterior-opacity {
  0% {
    background-color: rgba(0, 128, 0, 0); }
  100% {
    background-color: green; } }

@keyframes interior-opacity {
  0% {
    background-color: rgba(0, 0, 255, 0); }
  100% {
    background-color: blue; } }

.u-color-purple {
  color: purple; }

.u-color-grey {
  color: grey; }

.header {
  margin: 0 auto;
  padding: 5rem; }
  .header__title {
    margin-top: 0rem;
    margin-left: 18rem; }

.navigation {
  margin-bottom: 3rem; }
  .navigation__help-menu {
    display: flex;
    justify-content: space-around;
    border: 1px dashed var(--color-green-neon); }
    .navigation__help-menu--item {
      margin: 2rem; }

.cube__inner-border {
  position: absolute;
  background-color: black;
  height: 70%;
  width: 70%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.cube__side {
  clip-path: polygon(0% 0%, 0% 100%, 20% 100%, 20% 20%, 80% 20%, 80% 80%, 20% 80%, 20% 100%, 100% 100%, 100% 0%); }

.spin {
  animation: spin 4s 1 linear forwards; }

.spin-1 {
  animation: spin 4s 1 linear forwards; }

.spint-2 {
  animation: spin 4s 1 linear forwards; }

/* cube exterior */
.cube {
  position: relative;
  width: 4rem;
  transform-style: preserve-3d;
  transition: all 1s linear;
  z-index: 10;
  transform: translateX(0px) translateY(0px) rotateX(51deg) rotateY(26deg) rotateZ(62deg); }
  .cube__anchor {
    position: relative;
    perspective: 10000;
    perspective-origin: 50% 10rem; }
  .cube-1 {
    top: 0;
    left: 0; }
  .cube-2 {
    top: 12.7rem;
    left: -.2rem; }
  .cube-1 {
    top: 6.5rem;
    left: 10.9rem; }
  .cube__side {
    position: absolute;
    height: 9rem;
    width: 9rem;
    animation: exterior-opacity 1s 1 4s linear forwards;
    border: .2rem solid black;
    box-shadow: inset 0 0 0.6rem rgba(0, 0, 0, 0.2); }
    .cube__side:hover {
      transform: scale3d(2, 2, 2); }
    .cube__side--front {
      transform: translateZ(4.5rem); }
    .cube__side--back {
      transform: translateZ(-4.5rem) rotateY(180deg); }
    .cube__side--top {
      transform: rotateX(-90deg) translateY(-4.5rem);
      transform-origin: top center; }
    .cube__side--bottom {
      transform: rotateX(90deg) translateY(4.5rem);
      transform-origin: bottom center; }
    .cube__side--left {
      transform: rotateY(270deg) translateX(-4.5rem);
      transform-origin: center left; }
    .cube__side--right {
      transform: rotateY(-270deg) translateX(4.5rem);
      transform-origin: top right; }

/* cube middle */
.middle-cube__side {
  position: absolute;
  top: 1rem;
  left: 1rem;
  height: 6rem;
  width: 6rem;
  z-index: 2;
  box-shadow: inset 0 0 0.3rem rgba(0, 0, 0, 0.2);
  transition: all 1s linear;
  animation: interior-opacity 1s 1 4s linear forwards; }
  .middle-cube__side--front {
    transform: translateZ(-3rem) rotateY(0deg); }
  .middle-cube__side--back {
    transform: translateZ(3rem); }
  .middle-cube__side--right {
    transform: rotateY(-90deg) translateX(3rem) rotateZ(-90deg) rotateX(180deg);
    transform-origin: top right; }
  .middle-cube__side--left {
    transform: rotateY(270deg) translateX(-3rem);
    transform-origin: center left; }
  .middle-cube__side--top {
    transform: rotateX(-90deg) translateY(-3rem);
    transform-origin: top center; }
  .middle-cube__side--bottom {
    z-index: 1;
    transform: rotateX(90deg) translateY(-3rem) rotateZ(180deg);
    transform-origin: bottom center; }

/* cube inferior */
.inferior-cube__side {
  position: absolute;
  top: 1rem;
  left: 1rem;
  height: 6rem;
  width: 6rem;
  box-shadow: inset 0 0 0.3rem rgba(0, 0, 0, 0.2);
  transition: all 1s linear;
  z-index: -2; }
  .inferior-cube__side--front {
    transform: translateZ(-3rem) rotateY(0deg);
    background-image: url("../src/assets/mongo.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center; }
  .inferior-cube__side--back {
    transform: translateZ(3rem);
    background-image: url("../src/assets/html5.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center; }
  .inferior-cube__side--right {
    transform: rotateY(-90deg) translateX(3rem) rotateZ(-90deg) rotateX(180deg);
    transform-origin: top right;
    background-image: url("../src/assets/css3.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center; }
  .inferior-cube__side--left {
    transform: rotateY(270deg) translateX(-3rem);
    transform-origin: center left;
    background-image: url("../src/assets/python.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center; }
  .inferior-cube__side--top {
    transform: rotateX(-90deg) translateY(-3rem);
    transform-origin: top center;
    background-image: url("../src/assets/csharp.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center; }
  .inferior-cube__side--bottom {
    z-index: -1;
    transform: rotateX(90deg) translateY(-3rem) rotateZ(180deg);
    transform-origin: bottom center;
    background-image: url("../src/assets/angular.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center; }

.form {
  padding: 3rem; }
  .form__group:not(:last-child) {
    margin-bottom: 2rem; }
  .form__input {
    font-size: inherit;
    font-family: inherit;
    background-color: black;
    border: none;
    width: 100%; }
    .form__input:focus {
      outline: none;
      background-color: black; }

input,
input[type="text"] {
  font-size: inherit;
  font-family: inherit;
  color: var(--color-green-neon);
  caret-color: var(--color-green-neon);
  background-color: black;
  border: none;
  width: 100%;
  display: inline-block; }
  input:focus,
  input[type="text"]:focus {
    outline: none;
    background-color: black; }

.terminal {
  font-size: 2rem;
  letter-spacing: 1px;
  font-family: 'Courier New', Courier, monospace;
  color: var(--color-green-neon);
  background-color: black; }
  .terminal__window {
    min-height: 10rem;
    width: 100%;
    padding: 1rem; }
  .terminal__text {
    margin-bottom: .2rem; }
  .terminal__input {
    display: flex;
    width: 100%; }
    .terminal__input---field {
      display: inline-block;
      font-size: inherit;
      color: inherit;
      font-style: inherit;
      outline: none;
      border: none;
      background-color: var(--color-black); }
    .terminal__input--prefix {
      color: var(--color-green-neon);
      flex: 0 0 26rem;
      display: inline-block; }
  .terminal__submit {
    padding: 2rem; }
