* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  background-color: #222; }

.container {
  display: flex;
  width: 100%; }

.app__container {
  position: relative;
  flex: 1 1 100%; }

.header {
  display: block; }
  .header__title {
    text-align: center; }

.clear:after {
  content: "";
  display: block;
  clear: both; }

body {
  font-weight: 400;
  line-height: 1.6;
  font-family: 'Raleway', sans-serif;
  font-size: 1.7rem; }

@keyframes blink {
  from, to {
    color: transparent; }
  50% {
    color: #f7f7f7; } }

@keyframes spin-1 {
  0% {
    transform: translateX(160rem) translateY(20rem) rotateX(0deg) rotateY(0deg) rotateZ(0deg); }
  100% {
    transform: translateX(0) translateY(0) rotateX(51deg) rotateY(386deg) rotateZ(62deg); } }

@keyframes spin-2 {
  0% {
    transform: translateX(100rem) translateY(100rem) rotateX(0deg) rotateY(0deg) rotateZ(0deg); }
  100% {
    transform: translateX(0) translateY(0) rotateX(51deg) rotateY(386deg) rotateZ(62deg); } }

@keyframes spin-3 {
  0% {
    transform: translateX(0rem) translateY(100rem) rotateX(0deg) rotateY(0deg) rotateZ(0deg); }
  100% {
    transform: translateX(0rem) translateY(0rem) rotateX(51deg) rotateY(386deg) rotateZ(62deg); } }

@keyframes appear {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes horizontal-collapse-1 {
  100% {
    transform: translateX(-20rem); } }

@keyframes horizontal-collapse-2 {
  100% {
    transform: translateX(-10rem); } }

@keyframes horizontal-collapse-3 {
  100% {
    transform: translateX(); } }

@keyframes exterior-opacity {
  0% {
    background-color: rgba(74, 132, 159, 0); }
  100% {
    background-color: rgba(74, 132, 159, 0); } }

@keyframes interior-opacity {
  0% { }
  100% { } }

@keyframes slide-db-behind {
  100% {
    top: 6.2rem;
    left: 22.4rem;
    z-index: -100; } }

@keyframes remove-movie-bg {
  0% {
    opacity: 1; }
  100% {
    opacity: 0;
    display: none; } }

.u-color-purple {
  color: purple; }

.u-color-grey {
  color: grey; }

.u-center {
  text-align: center !important; }

.img-1 {
  animation: appear 1.25s 0.1s 1 ease-out forwards;
  background-image: url("assets/g_angular_ai.png");
  background-position: center;
  background-size: contain; }

.img-2 {
  animation: appear 1.25s 0.2s 1 ease-out forwards;
  background-image: url("assets/g_dotnetcore_ai.png");
  background-position: center;
  background-size: contain; }

.img-3 {
  animation: appear 1.25s 0.3s 1 ease-out forwards;
  background-image: url("assets/g_cs_ai.png");
  background-position: center;
  background-size: contain; }

.img-4 {
  animation: appear 1.25s 0.4s 1 ease-out forwards;
  background-image: url("assets/g_python_ai.png");
  background-position: center;
  background-size: contain; }

.img-5 {
  animation: appear 1.25s 0.5s 1 ease-out forwards;
  background-image: url("assets/g_css_ai.png");
  background-position: center;
  background-size: contain; }

.img-6 {
  animation: appear 1.25s 0.6s 1 ease-out forwards;
  background-image: url("assets/g_html_ai.png");
  background-position: center;
  background-size: contain; }

.img-7 {
  animation: appear 1.25s 0.7s 1 ease-out forwards;
  background-image: url("assets/g_django_ai.png");
  background-position: center;
  background-size: contain; }

.img-8 {
  animation: appear 1.25s 0.8s 1 ease-out forwards;
  background-image: url("assets/g_mongo_ai.png");
  background-position: center;
  background-size: contain; }

.img-9 {
  animation: appear 1.25s 0.9s 1 ease-out forwards;
  background-image: url("assets/g_react_ai.png");
  background-position: center;
  background-size: contain; }

.img-10 {
  animation: appear 1.25s 1s 1 ease-out forwards;
  background-image: url("assets/g_sass_ai.png");
  background-position: center;
  background-size: contain; }

.img-11 {
  animation: appear 1.25s 1.1s 1 ease-out forwards;
  background-image: url("assets/g_flask_ai.png");
  background-position: center;
  background-size: contain; }

.img-12 {
  animation: appear 1.25s 1.2s 1 ease-out forwards;
  background-image: url("assets/g_git_ai.png");
  background-position: center;
  background-size: contain; }

.img-13 {
  animation: appear 1.25s 1.3s 1 ease-out forwards;
  background-image: url("assets/g_js_ai.png");
  background-position: center;
  background-size: contain; }

.img-14 {
  animation: appear 1.25s 1.4s 1 ease-out forwards;
  background-image: url("assets/g_r_ai.png");
  background-position: center;
  background-size: contain; }

.img-15 {
  animation: appear 1.25s 1.5s 1 ease-out forwards;
  background-image: url("assets/g_ubuntu_ai.png");
  background-position: center;
  background-size: contain; }

.img-16 {
  animation: appear 1.25s 1.6s 1 ease-out forwards;
  background-image: url("assets/g_vim_ai.png");
  background-position: center;
  background-size: contain; }

.img-17 {
  animation: appear 1.25s 1.7s 1 ease-out forwards;
  background-image: url("assets/g_firebase_ai.png");
  background-position: center;
  background-size: contain; }

.img-18 {
  animation: appear 1.25s 1.8s 1 ease-out forwards;
  background-image: url("assets/g_vscode_ai.png");
  background-position: center;
  background-size: contain; }

.img-19 {
  animation: appear 1.25s 1.9s 1 ease-out forwards;
  background-image: url("assets/g_sql_ai.png");
  background-position: center;
  background-size: contain; }

.img-20 {
  animation: appear 1.25s 2s 1 ease-out forwards;
  background-image: url("assets/g_bootstrap_ai.png");
  background-position: center;
  background-size: contain; }

.img-21 {
  animation: appear 1.25s 2.1s 1 ease-out forwards;
  background-image: url("assets/g_scikit_ai.png");
  background-position: center;
  background-size: contain; }

.img-22 {
  animation: appear 1.25s 2.2s 1 ease-out forwards;
  background-image: url("assets/g_jquery_ai.png");
  background-position: center;
  background-size: contain; }

.img-23 {
  animation: appear 1.25s 2.3s 1 ease-out forwards;
  background-image: url("assets/g_postman_ai.png");
  background-position: center;
  background-size: contain; }

.img-24 {
  animation: appear 1.25s 2.4s 1 ease-out forwards;
  background-image: url("assets/g_express_ai.png");
  background-position: center;
  background-size: contain; }

.img-25 {
  animation: appear 1.25s 2.5s 1 ease-out forwards;
  background-image: url("assets/g_nodejs_ai.png");
  background-position: center;
  background-size: contain; }

.img-26 {
  animation: appear 1.25s 2.6s 1 ease-out forwards;
  background-image: url("assets/g_github_ai.png");
  background-position: center;
  background-size: contain; }

.img-27 {
  animation: appear 1.25s 2.7s 1 ease-out forwards;
  background-image: url("assets/g_aws_ai.png");
  background-position: center;
  background-size: contain; }

.img-28 {
  animation: appear 1.25s 2.8s 1 ease-out forwards;
  background-image: url("assets/g_sqlite_ai.png");
  background-position: center;
  background-size: contain; }

.preload-1 {
  background-image: url("assets/g_angular_ai.png"); }

.preload-2 {
  background-image: url("assets/g_dotnetcore_ai.png"); }

.preload-3 {
  background-image: url("assets/g_cs_ai.png"); }

.preload-4 {
  background-image: url("assets/g_python_ai.png"); }

.preload-5 {
  background-image: url("assets/g_css_ai.png"); }

.preload-6 {
  background-image: url("assets/g_html_ai.png"); }

.preload-7 {
  background-image: url("assets/g_django_ai.png"); }

.preload-8 {
  background-image: url("assets/g_mongo_ai.png"); }

.preload-9 {
  background-image: url("assets/g_react_ai.png"); }

.preload-10 {
  background-image: url("assets/g_sass_ai.png"); }

.preload-11 {
  background-image: url("assets/g_flask_ai.png"); }

.preload-12 {
  background-image: url("assets/g_git_ai.png"); }

.preload-13 {
  background-image: url("assets/g_js_ai.png"); }

.preload-14 {
  background-image: url("assets/g_r_ai.png"); }

.preload-15 {
  background-image: url("assets/g_ubuntu_ai.png"); }

.preload-16 {
  background-image: url("assets/g_vim_ai.png"); }

.preload-17 {
  background-image: url("assets/g_firebase_ai.png"); }

.preload-18 {
  background-image: url("assets/g_vscode_ai.png"); }

.preload-19 {
  background-image: url("assets/g_sql_ai.png"); }

.preload-20 {
  background-image: url("assets/g_bootstrap_ai.png"); }

.preload-21 {
  background-image: url("assets/g_scikit_ai.png"); }

.preload-22 {
  background-image: url("assets/g_jquery_ai.png"); }

.preload-23 {
  background-image: url("assets/g_postman_ai.png"); }

.preload-24 {
  background-image: url("assets/g_express_ai.png"); }

.preload-25 {
  background-image: url("assets/g_nodejs_ai.png"); }

.preload-26 {
  background-image: url("assets/g_github_ai.png"); }

.preload-27 {
  background-image: url("assets/g_aws_ai.png"); }

.preload-28 {
  background-image: url("assets/g_sqlite_ai.png"); }

.footer {
  background-color: #333;
  padding: 4rem 0;
  position: relative;
  height: 20rem; }
  .footer__container {
    display: flex;
    justify-content: space-between; }
  .footer__nav {
    width: 30%;
    display: inline-block;
    margin-left: 10rem; }
    .footer__nav--list {
      display: flex;
      justify-content: space-around;
      list-style: none;
      outline: none; }
    .footer__nav--item {
      border-top: 0.3rem solid #f7f7f7;
      padding-top: 1rem;
      text-align: center;
      color: #f7f7f7;
      width: 100%;
      flex: 1 100%;
      outline: none;
      cursor: pointer;
      transition: all .2s; }
      .footer__nav--item:hover {
        border-top: 0.3rem solid #28b485;
        color: #28b485; }
  .footer__logo {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
    .footer__logo-img {
      height: 10rem;
      width: auto; }
    .footer__logo--brand {
      text-align: center;
      color: #F2845C;
      letter-spacing: 1px; }
    .footer__logo--name {
      color: #f7f7f7; }
  .footer__text {
    width: 30%;
    margin-right: 10rem;
    text-align: center;
    color: #f7f7f7; }

.header {
  height: 90vh;
  margin-top: 5rem;
  background-image: linear-gradient(to bottom, rgba(34, 34, 34, 0.1), rgba(34, 34, 34, 0.1)), url("assets/pb_logo.png");
  background-position: center bottom;
  background-size: contain;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: relative; }
  .header__logo {
    position: relative; }
    .header__logo-img {
      position: absolute;
      top: 0%;
      left: 50%;
      transform: translateX(-50%);
      height: 80rem;
      width: auto; }
  .header__title {
    width: 100%;
    color: #f7f7f7;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
  .header__primary-text {
    font-family: 'Vollkorn', serif;
    font-size: 6rem;
    letter-spacing: .3rem;
    text-transform: uppercase; }
  .header__secondary-text {
    font-size: 2rem;
    letter-spacing: 1px;
    text-transform: uppercase; }
  .header__tertiary-text {
    width: 100%;
    position: absolute;
    text-align: center;
    font-style: italic;
    letter-spacing: 1px;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);
    color: #F2845C; }
  .header__blink {
    animation: blink 1.5s step-end infinite; }

.navigation {
  position: fixed;
  top: 0;
  left: 0;
  height: 5rem;
  z-index: 300;
  background-color: #333;
  width: 100%;
  color: #f7f7f7; }
  .navigation__list {
    margin: 0 auto;
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: space-around; }
  .navigation__item {
    cursor: pointer;
    outline: none;
    flex-basis: 0 0 20%;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    position: relative;
    padding: 1rem;
    display: flex;
    letter-spacing: 1.5px; }
    .navigation__item > * {
      height: 100%; }
  .navigation__item::before {
    content: "";
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 100%;
    height: 5px;
    background-color: #4A849F;
    transform: scaleX(0);
    transition: transform 0.2s, background-color 0.1s; }
  .navigation__item:hover::before {
    transform: scaleY(1); }
  .navigation__icon {
    height: 2rem;
    width: 2rem;
    fill: #f7f7f7;
    outline: none;
    margin-right: .5rem; }

.sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%; }

.btn {
  padding: 1rem 3rem;
  background-color: #4A849F;
  color: white;
  border: none;
  outline: none; }
  .btn__cube {
    margin-bottom: 5rem; }
  .btn:hover {
    background-color: green; }

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: .3;
  overflow: hidden; }
  .bg-video__content {
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover; }

.cube__inner-border {
  position: absolute;
  background-color: black;
  height: 70%;
  width: 70%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.cube__side {
  clip-path: polygon(0% 0%, 0% 100%, 17% 100%, 17% 17%, 83% 17%, 83% 83%, 17% 83%, 17% 100%, 100% 100%, 100% 0%); }

.spin {
  animation: spin 4s 1 linear forwards; }

.collapse-1 {
  top: 10.1rem !important;
  left: 12.4rem !important; }

.collapse-2 {
  top: 10.1rem !important;
  left: 12.4rem !important; }

.collapse-3 {
  top: 10.1rem !important;
  left: 12.4rem !important; }

/* cube exterior */
.cube {
  position: relative;
  width: 4rem;
  transform-style: preserve-3d;
  transition: all .5s ease-out;
  z-index: 10;
  display: block; }
  .cube__anchor {
    display: block;
    width: 100%;
    height: 20rem;
    perspective: 1000rem;
    perspective-origin: 50% 50%; }
  .cube-1 {
    transform: rotateX(51deg) rotateY(26deg) rotateZ(62deg);
    top: 10.3rem;
    left: 27rem; }
  .cube-2 {
    transform: rotateX(51deg) rotateY(386deg) rotateZ(62deg);
    top: 3.9rem;
    left: 16rem; }
  .cube-3 {
    transform: rotateX(51deg) rotateY(386deg) rotateZ(62deg);
    top: 16.6rem;
    left: 15.9rem; }
  .cube__side {
    position: absolute;
    height: 9rem;
    width: 9rem;
    border: .1rem solid black;
    box-shadow: inset 0 0 0.6rem rgba(0, 0, 0, 0.2);
    animation: exterior-opacity 1s 1 2.25s linear forwards; }
    .cube__side--front {
      transform: translateZ(4.5rem); }
    .cube__side--back {
      transform: translateZ(-4.5rem) rotateY(180deg); }
    .cube__side--top {
      transform: rotateX(-90deg) translateY(-4.5rem);
      transform-origin: top center; }
    .cube__side--bottom {
      transform: rotateX(90deg) translateY(4.5rem);
      transform-origin: bottom center; }
    .cube__side--left {
      transform: rotateY(270deg) translateX(-4.5rem);
      transform-origin: center left; }
    .cube__side--right {
      transform: rotateY(-270deg) translateX(4.5rem);
      transform-origin: top right; }

/* cube middle */
.middle-cube__side {
  position: absolute;
  top: 1rem;
  left: 1rem;
  height: 6rem;
  width: 6rem;
  box-shadow: inset 0 0 0.3rem rgba(0, 0, 0, 0.2);
  transition: all 1s linear;
  animation: interior-opacity 1s 1 4s linear forwards; }
  .middle-cube__side--front {
    transform: translateZ(-3rem) rotateY(0deg); }
  .middle-cube__side--back {
    transform: translateZ(3rem); }
  .middle-cube__side--right {
    transform: rotateY(-90deg) translateX(3rem) rotateZ(-90deg) rotateX(180deg);
    transform-origin: top right; }
  .middle-cube__side--left {
    transform: rotateY(270deg) translateX(-3rem);
    transform-origin: center left; }
  .middle-cube__side--top {
    transform: rotateX(-90deg) translateY(-3rem);
    transform-origin: top center; }
  .middle-cube__side--bottom {
    transform: rotateX(90deg) translateY(-3rem) rotateZ(180deg);
    transform-origin: bottom center; }

/* cube inferior */
.inferior-cube__side {
  position: absolute;
  top: 1rem;
  left: 1rem;
  height: 6rem;
  width: 6rem;
  box-shadow: inset 0 0 0.3rem rgba(0, 0, 0, 0.2);
  transition: all 1s linear;
  z-index: -2; }
  .inferior-cube__side--front {
    transform: translateZ(-3rem) rotateY(0deg); }
    .inferior-cube__side--front img {
      height: 100%;
      width: 100%; }
  .inferior-cube__side--back {
    transform: translateZ(3rem) rotate(-90deg); }
    .inferior-cube__side--back img {
      height: 100%;
      width: 100%; }
  .inferior-cube__side--right {
    transform: rotateY(-90deg) translateX(3rem) rotateZ(-90deg) rotateX(180deg);
    transform-origin: top right; }
    .inferior-cube__side--right img {
      height: 100%;
      width: 100%; }
  .inferior-cube__side--left {
    transform: rotateY(270deg) translateX(-3rem);
    transform-origin: center left; }
    .inferior-cube__side--left img {
      height: 100%;
      width: 100%; }
  .inferior-cube__side--top {
    transform: rotateX(-90deg) translateY(-3rem);
    transform-origin: top center; }
    .inferior-cube__side--top img {
      height: 100%;
      width: 100%; }
  .inferior-cube__side--bottom {
    transform: rotateX(90deg) translateY(-3rem) rotateZ(180deg) rotateY(180deg);
    transform-origin: bottom center; }
    .inferior-cube__side--bottom img {
      height: 100%;
      width: 100%; }

.form {
  padding: 3rem; }
  .form__group:not(:last-child) {
    margin-bottom: 2rem; }
  .form__input {
    font-size: inherit;
    font-family: inherit;
    background-color: black;
    border: none;
    width: 100%; }
    .form__input:focus {
      outline: none;
      background-color: black; }

input,
input[type="text"] {
  font-size: inherit;
  font-family: inherit;
  color: var(--color-green-neon);
  caret-color: var(--color-green-neon);
  background-color: black;
  border: none;
  width: 100%;
  display: inline-block; }
  input:focus,
  input[type="text"]:focus {
    outline: none;
    background-color: black; }

.movie {
  animation: remove-movie-bg .5s linear 12s 1 forwards;
  width: 100%;
  overflow: hidden;
  z-index: -100; }

.matrix-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  object-fit: contain; }

.terminal {
  font-size: 2rem;
  letter-spacing: 1px;
  color: var(--color-green-neon);
  background-color: black; }
  .terminal__navigation {
    background-color: black;
    color: var(--color-green-neon); }
    .terminal__navigation__help-menu {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      border: 1px dashed var(--color-green-neon); }
      .terminal__navigation__help-menu--item {
        margin: 2rem; }
  .terminal__window {
    min-height: 10rem;
    width: 100%;
    padding: 1rem; }
  .terminal__text {
    margin-bottom: .2rem; }
  .terminal__input {
    display: flex;
    width: 100%; }
    .terminal__input---field {
      display: inline-block;
      font-size: inherit;
      color: inherit;
      font-style: inherit;
      outline: none;
      border: none;
      background-color: var(--color-black); }
    .terminal__input--prefix {
      color: var(--color-green-neon);
      flex: 0 0 26rem;
      display: inline-block; }
  .terminal__submit {
    padding: 2rem; }

.about {
  padding: 3rem 5rem;
  background-color: #f7f7f7; }
  .about__text-box {
    margin-bottom: 4rem; }
  .about__blurb {
    hyphens: manual; }
  .about__links {
    display: flex;
    justify-content: center; }
  .about__link {
    padding: 1rem 3rem;
    border: 2px solid #4A849F;
    border-radius: 10px;
    transition: all .2s;
    box-shadow: 0 1rem 2.5rem rgba(34, 34, 34, 0.1); }
    .about__link:not(:last-child) {
      margin-right: 10rem; }
    .about__link:hover {
      background-color: #4A849F;
      color: #f7f7f7;
      cursor: pointer; }

.tech {
  width: 100vw;
  position: relative;
  background-image: linear-gradient(to top right, #f7f7f7, #ddd); }
  .tech__header {
    margin-top: 3rem;
    text-align: center;
    background-color: #fff; }
  .tech__overview {
    padding-top: 2rem;
    padding-bottom: 5rem;
    display: flex;
    justify-content: space-around;
    background-color: #fff; }
  .tech__details {
    background-image: linear-gradient(to top right, #28b485, #7ed56f);
    color: #ddd;
    text-align: center;
    flex-basis: 20%;
    padding: 1rem 2rem;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.5); }
    .tech__details--header {
      border-bottom: 1px solid black; }
    .tech__details--list {
      margin-top: 1rem;
      list-style: none; }

.grid {
  position: relative;
  width: 90%;
  margin: 0 auto;
  padding: 2rem 2rem 4rem 2rem; }

.hex-container {
  list-style-type: none;
  position: relative;
  float: left;
  width: 12.85714285714286%;
  padding: 0 0 14.87860145166612% 0;
  transform: rotate(-60deg) skewY(30deg);
  overflow: hidden;
  visibility: hidden; }
  .hex-container p {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: -50%, -50%; }

.hexagon {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #4A849F;
  transform: skewY(-30deg) rotate(60deg);
  overflow: hidden;
  opacity: 0;
  transition: all .2s;
  color: #f7f7f7;
  box-shadow: 0rem 1rem 1rem rgba(0, 0, 0, 0.2); }
  .hexagon:hover {
    background-color: #4A849F; }

.grid .hex-container * {
  visibility: visible;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center; }

.grid .hex-container:nth-child(1n+1) {
  margin: 0.5%; }

.grid .hex-container:nth-child(14n+8),
.grid .hex-container:nth-child(14n+9),
.grid .hex-container:nth-child(14n+10),
.grid .hex-container:nth-child(14n+11),
.grid .hex-container:nth-child(14n+12),
.grid .hex-container:nth-child(14n+13),
.grid .hex-container:nth-child(14n+14) {
  margin-top: -2.9285714285%;
  margin-bottom: -2.9285714285%;
  transform: translateX(50%) rotate(-60deg) skewY(30deg); }

.grid .hex-container:nth-child(14n+8) {
  margin-left: 1%; }
