<section class="about">
    <div class="about__text-box">
        <h2 class="about__heading">About Me</h2>
        <p class="about__blurb">I'm a full-stack software developer with a background in the arts and sciences. As a former opera singer, then CEO and then neuro&shy;scientist, the one consistency across all realms was the need for newer and better tech to drive innovation. I love to think big and have a passion for tackling challenges to find elegant solutions that are clean, efficient and reusable.</p>
    </div>
	<div class="about__services">
		<h2 class="about__heading">Website Services</h2>
		<h3>Front End</h3>
			<ul>
				<li>Responsive layouts, mobile scaling, animations</li>
				<li>SASS: Syntactically Awesome Style Sheets</li>
				<li>Front-end frameworks: Angular, React, Vue</li>
			</ul>
		<h3>Back End</h3>
			<ul>
				<li>MVC architecture</li>
				<li>Restful API Service, ORM design</li>
				<li>Frameworks: ASP.NET Core, Django, Flask, Express.js</li>
			</ul>
		<h3>Databases</h3>
			<ul>
				<li>Database design</li>
				<li>SQL and noSQL databases</li>
				<li>Data analysis</li>
			</ul>
	</div>
    <div class="about__links">
        <div class="about__link" [routerLink]="['tech']">Technology</div>
        <div class="about__link" [routerLink]="['portfolio']">Portfolio</div>
    </div>
</section>

<div class="hidden">
    <div *ngFor="let i of images" class="preload-{{i}}"></div>
</div>
