<h3>The definition of elegance:</h3>
<h2>Clean ~ Efficient ~ Reusable</h2>

<p>Full-stack software developer with a background in the arts and sciences. As a former opera singer, then CEO and then neuroscientist, the one consistency across all realms was the need for newer and better tech to drive innovation. Is at home when he can think big, is never satisfied with ‘satisfactory’, and passionate for tackling challenges to find efficient and elegant solutions that are maintainable and reusable.</p>